.cookiebar {
  background-color: #2C3E50;
  bottom: 0;
  box-sizing: initial;
  color: #fff;
  left: 0;
  min-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.cookiebar-wrapper {
  height: 100%;
  overflow: hidden;
  padding: 14px;
}

.cookiebar-content {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}

.cookiebar-actions {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 10%;
}

.cookiebar-desciption {
  display: inline;
  font-size: 16px;
}

.cookiebar-link {
  display: inline;
  padding-left: 5px;
}

.cookiebar-link a {
  color: #fff;
  text-decoration: none;
}

.cookiebar-link a:hover {
  text-decoration: underline;
}

.cookiebar-button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.cookiebar-btn {
  background: #e74c3c none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 28px;
  margin: auto;
  padding: 0 10px 2px;
  text-transform: uppercase;
}

.cookiebar-btn:hover {
  background: #d34c37 none repeat scroll 0 0;
}

@media screen and (max-width: 767px) {
  .cookiebar-actions {
    margin: 8px 0 0 0;
    text-align: left;
    width: 100%;
  }
}
