.cookiebar {
    background-color: #2C3E50;
    bottom: 0;
    box-sizing: initial;
    color: #fff;
    min-height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
}
.cookiebar-wrapper {
    height: 100%;
    overflow: hidden;
    padding: 14px;
    width: 85%;
}
.cookiebar-desciption {
    display: inline;
    font-size: 1em;
}
.cookiebar-link {
    display: inline;
    padding-left: 5px;
}
.cookiebar-link a {
    color: #3498db;
    text-decoration: none;
}
.cookiebar-link a:hover {
    text-decoration: underline;
}
.cookiebar-btn {
    background: #e74c3c none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 0.875em;
    height: 28px;
    padding: 0 10px 2px;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
    margin: auto;
    top: 0;
    bottom: 0;
}
.cookiebar-btn:hover {
    background: #d34c37 none repeat scroll 0 0;
}
